@use "./mixins" as *;
@use "./variables" as *;

// CSS reset
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Titillium Web", sans-serif, "Arial";
  background-color: $background-light-grey;
}

// Default Font Sizes
h1 {
  font-size: 1.75rem;
  line-height: 2.25rem;

  @include tablet {
    font-size: 2rem;
    line-height: 2.5rem;
  }
}

h2 {
  font-size: 1.25rem;
  line-height: 1.75rem;

  @include tablet {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

h3 {
  font-size: 0.8125rem;
  line-height: 1.25rem;

  @include tablet {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}

h4 {
  font-size: 0.6875rem;
  line-height: 1rem;

  @include tablet {
    font-size: 0.75rem;
    line-height: 1.125rem;
  }
}

// Large
p {
  margin: 0;
  font-size: 0.9375rem;
  line-height: 1.625rem;

  @include tablet {
    font-size: 1rem;
    line-height: 1.75rem;
  }
}


/* ##   size increments   ## */

$size-increment-x1: .25rem; /* 4px */
$size-increment-x1-1: .5rem; /* 8px */
$size-increment-x1-2: .75rem; /* 12px */

$size-increment-x2: 1rem; /* 16px */
$size-increment-x2-1: 1.5rem; /* 24px */

$size-increment-x3: 2rem; /* 32px */
$size-increment-x3-1: 2.25rem; /* 36px */
$size-increment-x3-2: 2.5rem; /* 40px */

$size-increment-x4: 3rem; /* 48px */ 
$size-increment-x4-1: 3.5rem; /* 56px */

$size-increment-x5: 4rem; /* 64px */ 
$size-increment-x6: 5rem; /* 80px */ 

/* button and input reset */ 
button, input {border: none;}

/* flex container */
.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

/* form inputs */
.form-input {
    height: $size-increment-x4;
    min-width: 15rem;
    width: 100%;
    font-size: $size-increment-x2;
    color: $primary-black;
    border-radius: 2rem;
    border: 2px solid $secondary-cloud;
    padding: $size-increment-x2;

    transition: border .2s ease-in-out;

    &:active,
    &:focus,
    &:focus-visible {
        outline: none;
        border-color: $primary-indigo;
    }
}

/* links and button default */
.call-to-action {
    @extend .flex-container;

    width: 100%;
    height: $size-increment-x4;
    background-color: $primary-indigo;
    color: $primary-white;
    font-size: $size-increment-x2;
    font-weight: 700;
    border-radius: $size-increment-x2-1;
    cursor: pointer;

    transition: all .2s ease-in-out;

    &:hover,
    &:active {
        background-color: $primary-black;
    }

    @include tablet {
        padding: 0 $size-increment-x2;
    }
}
