/* flex container */
@use "./mixins" as *;
@use "./variables" as *;

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

/* form inputs */
.form-input {
  height: $size-increment-x4;
  min-width: 15rem;
  width: 100%;
  font-size: $size-increment-x2;
  color: $primary-black;
  border-radius: 2rem;
  border: 2px solid $secondary-cloud;
  padding: $size-increment-x2;

  transition: border 0.2s ease-in-out;

  &:active,
  &:focus,
  &:focus-visible {
    outline: none;
    border-color: $primary-indigo;
  }
}

/* links and button default */
.call-to-action {
  @extend .flex-container;

  width: 100%;
  height: $size-increment-x4;
  background-color: $primary-indigo;
  color: $primary-white;
  font-size: $size-increment-x2;
  font-weight: 700;
  border-radius: $size-increment-x2-1;
  cursor: pointer;

  transition: all 0.2s ease-in-out;

  &:hover,
  &:active {
    background-color: $primary-black;
  }

  @include tablet {
    padding: 0 $size-increment-x2;
  }
}
