@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.footer {
  background-color: $background-light-grey;
  display: flex;
  justify-content: center;

  &__container {
    display: flex;
    padding: 2rem 0;

    @include tablet {
      padding: 4rem 0 2rem 0;
    }
    @include desktop {
      padding: 5rem 0 2rem 0;
    }
  }

  &__text {
    font-size: 0.6875rem;
    line-height: 1rem;
    font-weight: 400;
    color: $secondary-slate;
    @include tablet {
      font-size: 0.75rem;
      line-height: 1.125rem;
    }
  }
}
