@use "./styles/partials/mixins" as *;
@use "./styles/partials/variables" as *;

// CSS reset
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Titillium Web", sans-serif, "Arial";
  background-color: $background-light-grey;
}

// Default Font Sizes
h1 {
  font-size: 1.75rem;
  line-height: 2.25rem;

  @include tablet {
    font-size: 2rem;
    line-height: 2.5rem;
  }
}

h2 {
  font-size: 1.25rem;
  line-height: 1.75rem;

  @include tablet {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

h3 {
  font-size: 0.8125rem;
  line-height: 1.25rem;

  @include tablet {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}

h4 {
  font-size: 0.6875rem;
  line-height: 1rem;

  @include tablet {
    font-size: 0.75rem;
    line-height: 1.125rem;
  }
}

// Large
p {
  margin: 0;
  font-size: 0.9375rem;
  line-height: 1.625rem;

  @include tablet {
    font-size: 1rem;
    line-height: 1.75rem;
  }
}

/* button and input reset */
button,
input {
  border: none;
}

.app {
  background-color: $primary-white;
  box-shadow: 0px 2px 5px 0px rgba(19, 24, 44, 0.6);
  border-radius: 0.25rem;
  margin: 0 1rem;
  position: relative;
  top: -3.25rem;
  z-index: 2;

  @include tablet {
    margin: 0 2rem;
    top: -6.08rem;
  }

  @include desktop {
    @include width-fix;
  }
}
